<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>새로워진 달구지봇 3.0에 온 모두를 환영해!</h2>
            <p>그치만... 이렇게 하지 않으면, 학우들 내게 관심도 없는걸!</p>
            <ul class="actions">
                <li><a href="https://pf.kakao.com/_wkxjxoxl" class="button primary"><div class="icon fa-comments"> 카카오톡 서비스 바로가기</div></a></li>
                <li><a class="button primary"><div class="icon fab fa-cc-paypal"> 수고한 개발자에게 도네이션 보내기</div></a></li>
                <!--<li><a href="#" class="button">Default</a></li>-->
            </ul>
        </header>
        <div class="highlights">
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-bus"><span class="label">Icon</span></a>
                        <h3>셔틀버스 안내 지원</h3>
                    </header>
                    <p>가까운 시간의 버스 시간, 실시간 위치, 전체 시간표, 경로 안내</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-comment"><span class="label">Icon</span></a>
                        <h3>푸시 메시지 알람</h3>
                    </header>
                    <p>특별한 공지가 있을 시 상황에 따라 안내 메시지 전송</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-mobile-phone"><span class="label">Icon</span></a>
                        <h3>플랫폼</h3>
                    </header>
                    <p>카카오톡 지원</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-lock"><span class="label">Icon</span></a>
                        <h3>개인정보</h3>
                    </header>
                    <p>여러분의 개인정보는 카카오톡에서 암호화하여 제공받고 있어 직접적인 이용이 불가능합니다.</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-cogs"><span class="label">Icon</span></a>
                        <h3>유지보수</h3>
                    </header>
                    <p>서비스를 하고 있는 플랫폼의 가격 정책에 따라 서비스가 중단 될 수도 있습니다.</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-server"><span class="label">Icon</span></a>
                        <h3>개발 환경</h3>
                    </header>
                    <p>Firebase Cloud 서비스를 이용하여 호스팅 및 개발하고 있습니다.</p>
                </div>
            </section>
        </div>
    </div>
</section>