<div layout-fill layout="row" layout-align="center center" ng-init="onLoad()">
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">
                <header>
                    <h2>학사 일정 동기화</h2>
                    <h4>최신 학사 일정을 구글 캘린더에 동기화하는 페이지입니다. 고거참 흥미롭군요?!</h4>
                </header>
                <div layout="row">
                    <div flex>
                        상태: {{ googleAuthStatus }}
                    </div>
                    <md-button ng-disabled="isUserSignedIn != true || isSyncProcessWorking == true" ng-click="syncCalendar()">캘린더 동기화</md-button>
                    <!--<md-button ng-disabled="isUserSignedIn != true" ng-click="testDelete()">캘린더 삭제 테스트</md-button>-->
                </div>
                <div>
                    <div class="md-dialog-content" layout="column">
                        <h3>도움말</h3>
                        <ol>
                            <li>본 기능은 베타 테스트 기능입니다. 불안정한 요소가 존재하니 주의해주시기 바랍니다.</li>
                            <li>계정확인을 위해 팝업이 표시되고 권한을 요청합니다. 본 페이지에서는 팝업을 허용해주세요.</li>
                            <li>실제 계정에 반영되기까지 시간이 걸릴 수도 있습니다.</li>
                            <li>문제가 생겼을 경우 <a href="https://github.com/stories2/KangnamShuttle-3.0/issues">여기</a> 에 문제를 최대한 자세히 기술해주세요.</li>
                        </ol>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>