<div layout-fill layout="row" layout-align="center center" ng-init="onLoad()">
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">
                <header>
                    <h2>셔틀버스 시간표 관리</h2>
                    <h4>셔틀버스의 경로, 정류소, 시간표를 편집할 수 있는 관리 페이지입니다.</h4>
                </header>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-6 col-12-medium">
                            전체 달구지 경로 안내는 텍스트로 응답을 합니다.
                        </div>
                        <div class="col-4 col-12-medium">
                            <img style="width:300px;height: auto" src="images/allShuttleRoute.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="box alt" layout-gt-md="row" layout="column">
                    <md-input-container flex="100" flex-gt-md="60">
                        <label>전체 달구지 경로</label>
                        <textarea ng-model="shuttleRoutePath" type="text" rows="4"></textarea>
                    </md-input-container>
                    <md-button ng-click="submitRoutePath(shuttleRoutePath)"><div class="fa fa-2x fa-check"></div></md-button>
                    <md-button class="md-secondary" ng-click="onLoad()"><div class="fa fa-2x fa-sync"></div></md-button>
                </div>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-6 col-12-medium">
                            전체 시간표 이미지는 5MB 이하의 png 이미지를 사용할 것을 권장합니다.
                        </div>
                        <div class="col-4 col-12-medium">
                            <img style="width:300px;height: auto" src="images/shuttleSchedulePic.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="box alt" layout="row">
                    <form flex name="uploadPicForm">
                        <md-input-container flex="60">
                            <label>전체 시간표 이미지</label>
                            <input type="file" ng-model="shuttleScheduleImage" accept="image/png" required>
                        </md-input-container>
                        <md-input-container flex>
                            <!--<label>업로드</label>-->
                            <input type="submit">
                        </md-input-container>
                    </form>
                </div>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-6 col-12-medium">
                            <p>
                                ROUTINE - 셔틀버스의 노선을 말합니다. 최대 3개 까지 추가 할 수 있습니다.<br>
                                가까운 시간의 셔틀버스에서 어디로 진행할 지 결정할 시에 사용자에게 보여집니다.
                            </p>
                        </div>
                        <div class="col-4 col-12-medium">
                            <img style="width:300px;height: auto" src="images/nearestShuttleRouteSelection.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-6 col-12-medium">
                            <p>
                                STATION - 셔틀버스의 정류소를 말합니다. 셔틀버스 노선에 종속되며 최대 5개 까지 추가 할 수 있습니다.<br>
                                SCHEDULE - 셔틀버스의 시간을 말합니다. 셔틀버스 정류소에 종속되며 최소 3개 이상 추가 해야 정상동작 합니다.<br>
                                가까운 시간의 셔틀버스에서 어디로 진행할 지 결정한 후에 사용자에게 보여집니다.
                            </p>
                        </div>
                        <div class="col-4 col-12-medium">
                            <img style="width:300px;height: auto" src="images/nearestShuttleSchedule.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="box alt">
                    <md-list ng-cloak >
                        <md-subheader class="md-no-sticky">
                            <h2>ROUTINE</h2>
                            <h4># {{ routineKey }}</h4>
                            <md-button class="md-secondary" ng-click="onLoad()"><div class="fa fa-2x fa-sync"></div></md-button>
                        </md-subheader>
                        <md-list-item ng-repeat="routine in routineList track by $index"><!-- 노선 수 만큼 md-list 생성-->

                            <md-input-container>
                                <p style="font-size: 0.5em">#{{ routine["routineKey"] }}</p>
                                <input ng-model="routine['routineName']">
                            </md-input-container>

                            <md-button class="md-secondary" ng-click="deleteRoutine(routine, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-trash"></div></md-button>
                            <md-button class="md-secondary" ng-click="submitRoutine(routine, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-check"></div></md-button>
                            <md-button class="md-secondary" ng-click="expandStation(routine, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-arrow-down"></div></md-button>
                        </md-list-item>

                        <md-list-item >
                            <p>END OF ROUTINE</p>
                            <md-button class="md-secondary" ng-click="addRoutine()"><div class="fa fa-2x fa-plus"></div></md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>

                    <md-list ng-cloak >

                        <md-subheader class="md-no-sticky">
                            <h2>STATION</h2>
                            <h4>#{{ stationKey }}</h4>
                            <!--<md-button class="md-secondary" ><div class="fa fa-2x fa-sync"></div></md-button>-->
                        </md-subheader>
                        <md-list-item ng-repeat="station in stationList track by $index"><!-- 노선 수 만큼 md-list 생성-->

                            <md-input-container>
                                <p style="font-size: 0.5em">#{{ station["stationKey"] }}</p>
                                <input ng-model="station['stationName']">
                            </md-input-container>

                            <md-button class="md-secondary" ng-click="deleteStation(station, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-trash"></div></md-button>
                            <md-button class="md-secondary" ng-click="submitStation(station, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-check"></div></md-button>
                            <md-button class="md-secondary" ng-click="expandSchedule(station, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-arrow-down"></div></md-button>
                        </md-list-item>

                        <md-list-item >
                            <p>END OF STATION</p>
                            <md-button class="md-secondary" ng-click="addStation()"><div class="fa fa-2x fa-plus"></div></md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>

                    <md-list ng-cloak >

                        <md-subheader class="md-no-sticky">
                            <h2>SCHEDULE</h2>
                            <!--<md-button class="md-secondary" ><div class="fa fa-2x fa-sync"></div></md-button>-->
                        </md-subheader>
                        <md-list-item ng-repeat="schedule in scheduleList track by $index"><!-- 노선 수 만큼 md-list 생성-->

                            <md-input-container>
                                <!--<p style="font-size: 0.5em">#{{ secondToTime(scheduleList[$index]) }}</p>-->
                                <input cleave="options.time" ng-model="scheduleList[$index]" placeholder="hh:mm:ss">
                            </md-input-container>

                            <md-button class="md-secondary" ng-click="deleteSchedule(schedule, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-trash"></div></md-button>
                        </md-list-item>

                        <md-list-item >
                            <p>END OF SCHEDULE</p>
                            <md-button class="md-secondary" ng-click="submitSchedule(scheduleList)"><div class="fa fa-2x fa-check"></div></md-button>
                            <md-button class="md-secondary" ng-click="addSchedule()"><div class="fa fa-2x fa-plus"></div></md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </div>
            </div>
        </div>
    </section>
</div>