<div layout-fill layout="row" layout-align="center center" ng-init="onLoad()">
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">
                <header>
                    <h2>셔틀버스 관리</h2>
                    <h4>셔틀버스의 공지 메시지, 경로, 정류소, 시간표를 편집할 수 있는 관리 페이지입니다. <a href="https://github.com/stories2/KangnamShuttle-3.0/wiki/%EC%85%94%ED%8B%80%EB%B2%84%EC%8A%A4-%EC%8B%9C%EA%B0%84%ED%91%9C-%EA%B4%80%EB%A6%AC-%EB%A7%A4%EB%89%B4%EC%96%BC">매뉴얼 링크</a></h4>
                </header>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-6 col-12-medium">
                            사용자가 달구지안내를 선택하였을 시 공지 메시지가 하단에 기존 문구와 함께 텍스트 출력됩니다.<br>
                            공지 메시지는 시간대별로 설정할 수 있습니다.
                        </div>
                        <div class="col-4 col-12-medium">
                            <img style="width:300px;height: auto" src="images/shuttleNotice.png" alt="" />
                        </div>
                    </div>
                </div>
                <div layout-gt-md="row" layout="column">
                    <md-button ng-click="submitNotice()" ng-disabled="noticeList.length < 24"><div class="fa fa-2x fa-check"></div></md-button>
                    <md-button class="md-secondary" ng-click="onLoad()"><div class="fa fa-2x fa-sync"></div></md-button>
                </div>
                <div class="box alt">
                    <div layout="column">
                        <div>불러와진 공지 갯수: {{ noticeList.length }}</div>
                        <md-list-item ng-repeat="notice in noticeList track by $index">
                            <p flex="20" class="col-3 col-12-medium"> {{ $index }} 시</p>
                            <textarea flex class="col-9 col-12-medium" ng-model="noticeList[$index]"></textarea>
                        </md-list-item>
                    </div>
                </div>
                <md-divider ></md-divider><br>
                <md-divider ></md-divider><br>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-6 col-12-medium">
                            전체 달구지 경로 안내는 텍스트로 응답을 합니다.
                        </div>
                        <div class="col-4 col-12-medium">
                            <img style="width:300px;height: auto" src="images/allShuttleRoute.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="box alt" layout-gt-md="row" layout="column">
                    <md-input-container flex="100" flex-gt-md="60">
                        <label>전체 달구지 경로</label>
                        <textarea ng-model="shuttleRoutePath" type="text" rows="4"></textarea>
                    </md-input-container>
                    <md-button ng-click="submitRoutePath(shuttleRoutePath)" ng-disabled="shuttleRoutePath == '' || shuttleRoutePath == undefined"><div class="fa fa-2x fa-check"></div></md-button>
                    <md-button class="md-secondary" ng-click="onLoad()"><div class="fa fa-2x fa-sync"></div></md-button>
                </div>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-6 col-12-medium">
                            전체 시간표 이미지는 5MB 이하의 png 이미지를 사용할 것을 권장합니다.<br>
                            이미지 다운로드 속도 개선을 위해 캐싱 기술이 적용되었습니다.<br>
                            이미지를 업로드 후 모든 <span style="color: red;">CDN 서버</span>에 적용되는데는 <span style="color: red;">10분</span> 정도 소요될 수도 있습니다.<br>
                        </div>
                        <div class="col-4 col-12-medium">
                            <img style="width:300px;height: auto" src="images/shuttleSchedulePic.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="box alt" layout="row">
                    <form flex name="uploadPicForm">
                        <md-input-container flex="60">
                            <!--<label>전체 시간표 이미지</label>-->
                            <!--<input type="file" ng-model="shuttleScheduleImage" accept="image/png" required>-->
                            <div class="button" ngf-select ng-model="shuttleScheduleImage" name="file" ngf-pattern="'image/png'"
                                 ngf-accept="'image/png'" ngf-max-size="5MB">전체 시간표 이미지</div>
                        </md-input-container>
                        <p>{{ shuttleScheduleImage.name }}</p>
                        <md-input-container flex>
                            <!--<label>업로드</label>-->
                            <input type="submit" ng-click="uploadShuttleSchedule()">
                        </md-input-container>
                    </form>
                </div>
                <div layout="row">
                    <h4>전체 시간표 이미지 다운로드 링크 주소</h4>
                </div>
                <div layout="row gtr-50 gtr-uniform">
                    <pre class="col-6 col-12-medium" flex><code>
https://us-central1-kangnamshuttle3.cloudfunctions.net/v3PublicApi/shuttleSchedulePic
                        </code></pre>
                </div>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-6 col-12-medium">
                            전체 시간표 이미지 미리보기<br>
                            이미지 다운로드 속도 개선을 위해 캐싱 기술이 적용되었습니다.<br>
                            이미지를 업로드 후 모든 <span style="color: red;">CDN 서버</span>에 적용되는데는 <span style="color: red;">10분</span> 정도 소요될 수도 있습니다.<br><br>
                            전체 시간표 이미지 미리보기는 자동으로 새로고침 되지 않습니다.
                        </div>
                        <div class="col-4 col-12-medium">
                            <img style="width:300px;height: auto" src="https://us-central1-kangnamshuttle3.cloudfunctions.net/v3PublicApi/shuttleSchedulePic" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-6 col-12-medium">
                            <p>
                                ROUTINE - 셔틀버스의 노선을 말합니다. 최대 3개 까지 추가 할 수 있습니다.<br>
                                가까운 시간의 셔틀버스에서 어디로 진행할 지 결정할 시에 사용자에게 보여집니다.
                            </p>
                        </div>
                        <div class="col-4 col-12-medium">
                            <img style="width:300px;height: auto" src="images/nearestShuttleRouteSelection.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="box alt">
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-6 col-12-medium">
                            <p>
                                STATION - 셔틀버스의 정류소를 말합니다. 셔틀버스 노선에 종속되며 최대 5개 까지 추가 할 수 있습니다.<br>
                                SCHEDULE - 셔틀버스의 시간을 말합니다. 셔틀버스 정류소에 종속되며 최소 3개 이상 추가 해야 정상동작 합니다.<br>
                                가까운 시간의 셔틀버스에서 어디로 진행할 지 결정한 후에 사용자에게 보여집니다.
                            </p>
                        </div>
                        <div class="col-4 col-12-medium">
                            <img style="width:300px;height: auto" src="images/nearestShuttleSchedule.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="box alt">
                    <md-list ng-cloak >
                        <md-subheader class="md-no-sticky">
                            <h2>ROUTINE</h2>
                            <h4># {{ routineKey }}</h4>
                            <md-button class="md-secondary" ng-click="onLoad()"><div class="fa fa-2x fa-sync"></div></md-button>
                        </md-subheader>
                        <md-list-item ng-repeat="routine in routineList track by $index"><!-- 노선 수 만큼 md-list 생성-->

                            <md-input-container>
                                <p style="font-size: 0.5em">#{{ routine["routineKey"] }}</p>
                                <input ng-model="routine['routineName']">
                            </md-input-container>

                            <md-button class="md-secondary" ng-click="deleteRoutine(routine, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-trash"></div></md-button>
                            <md-button class="md-secondary" ng-click="submitRoutine(routine, $index)" style="min-height: auto;min-width: auto" ng-disabled="routine['routineName'] == '' || routine['routineName'] == undefined"><div class="fa fa-2x fa-check"></div></md-button>
                            <md-button class="md-secondary" ng-disabled="routine['routineKey'] == '' || routine['routineKey'] == undefined" ng-click="expandStation(routine, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-arrow-down"></div></md-button>
                        </md-list-item>

                        <md-list-item >
                            <p>END OF ROUTINE</p>
                            <md-button class="md-secondary" ng-click="addRoutine()"><div class="fa fa-2x fa-plus"></div></md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>

                    <md-list ng-cloak >

                        <md-subheader class="md-no-sticky">
                            <h2>STATION</h2>
                            <h4>현재 [{{ routineName }}]에 속한 정류소를 편집하고 있습니다.</h4>
                            <!--<md-button class="md-secondary" ><div class="fa fa-2x fa-sync"></div></md-button>-->
                        </md-subheader>
                        <md-list-item ng-repeat="station in stationList track by $index"><!-- 노선 수 만큼 md-list 생성-->

                            <md-input-container>
                                <p style="font-size: 0.5em">#{{ station["stationKey"] }}</p>
                                <input ng-model="station['stationName']">
                            </md-input-container>

                            <md-button class="md-secondary" ng-click="deleteStation(station, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-trash"></div></md-button>
                            <md-button class="md-secondary" ng-click="submitStation(station, $index)" style="min-height: auto;min-width: auto" ng-disabled="station['stationName'] == '' || station['stationName'] == undefined"><div class="fa fa-2x fa-check"></div></md-button>
                            <md-button class="md-secondary" ng-disabled="station['stationKey'] == '' || station['stationKey'] == undefined" ng-click="expandSchedule(station, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-arrow-down"></div></md-button>
                        </md-list-item>

                        <md-list-item >
                            <p>END OF STATION</p>
                            <md-button class="md-secondary" ng-disabled="routineKey == '' || routineKey == undefined" ng-click="addStation()"><div class="fa fa-2x fa-plus"></div></md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>

                    <md-list ng-cloak >

                        <md-subheader class="md-no-sticky">
                            <h2>SCHEDULE</h2>
                            <!--<md-button class="md-secondary" ><div class="fa fa-2x fa-sync"></div></md-button>-->
                            <h4>현재 [{{ routineName }}]에 속한 [{{ stationName }}]정류소의 시간표를 편집하고 있습니다.</h4>
                        </md-subheader>
                        <md-list-item ng-repeat="schedule in scheduleList track by $index"><!-- 노선 수 만큼 md-list 생성-->

                            <md-input-container>
                                <!--<p style="font-size: 0.5em">#{{ secondToTime(scheduleList[$index]) }}</p>-->
                                <input cleave="options.time" ng-model="scheduleList[$index]" placeholder="hh:mm:ss">
                            </md-input-container>

                            <md-button class="md-secondary" ng-click="deleteSchedule(schedule, $index)" style="min-height: auto;min-width: auto"><div class="fa fa-2x fa-trash"></div></md-button>
                        </md-list-item>

                        <md-list-item >
                            <p>END OF SCHEDULE</p>
                            <md-button ng-disabled="stationKey == '' || stationKey == undefined || routineKey == '' || routineKey == undefined || scheduleList.length < 3" class="md-secondary" ng-click="submitSchedule(scheduleList)"><div class="fa fa-2x fa-check"></div></md-button>
                            <md-button ng-disabled="stationKey == '' || stationKey == undefined || routineKey == '' || routineKey == undefined" class="md-secondary" ng-click="addSchedule()"><div class="fa fa-2x fa-plus"></div></md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </div>
            </div>
        </div>
    </section>
</div>